@page
@model MyBudgetExplorer.Pages.Budget.CashFlow.IndexModel
@{
    var colors = new[] { "blue", "green", "red", "gray", "navy", "orange" };
    var accounts = Model.Accounts.OrderBy(a => a.Item2).ToList();
    var startMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToShortDateString();
    var endMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(4).ToShortDateString();
}
@if (Request.Method == "GET")
{
    <form method="post">
        <table>
            <tr>
                <td>
                    <b>Select Accounts:</b><br />
                    @foreach (var account in accounts)
                    {
                        <input type="checkbox" name="accounts" value="@account.Item1" /> @account.Item2<br />
                    }
                </td>
                <td>
                    <b>Start Month:</b><br />
                    <select name="start">
                        @foreach (var start in Model.StartDates)
                        {
                            if (startMonth == start.Item1)
                            {
                                <option value="@start.Item1" selected="selected">@start.Item2</option>
                            }
                            else
                            {
                                <option value="@start.Item1">@start.Item2</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <b>End Month:</b><br />
                    <select name="end">
                        @foreach (var end in Model.EndDates)
                        {
                            if (endMonth == end.Item1)
                            {
                                <option value="@end.Item1" selected="selected">@end.Item2</option>
                            }
                            else
                            {
                                <option value="@end.Item1">@end.Item2</option>
                            }
                        }
                    </select>
                </td>
            </tr>

        </table>

        <br />
        <input type="submit" value="Display" />
    </form>
}
else
{
    <div id="chartparent">
        <canvas id="myChart"></canvas>
    </div>
    <script src="~/lib/chartjs/Chart.bundle.js"></script>
    <script>
        var currentWindowHeight = window.innerHeight
        var canvas = document.getElementById("myChart")
        var chartHeight = currentWindowHeight - 300
        var lineChartParent = document.getElementById('chartparent')
        canvas.width = lineChartParent.clientWidth;
        canvas.height = chartHeight;
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                @for (int i = 0; i < accounts.Count; i++)
                {
                    var account = accounts[i];
                    var colorIndex = i;
                    while (colorIndex >= colors.Length)
                    {
                        colorIndex -= colors.Length;
                    }
                    <text>{ label: '@account.Item2', pointRadius: 2, borderColor: '@colors[colorIndex]', data: [</text>
                    var items = Model.GraphValues.Where(g => g.Item2 == account.Item1);
                    foreach (var item in items)
                    {
                        <text>{ x: new Date('@item.Item1'), y: @decimal.Divide(item.Item3, 1000L)},</text>
                    }
                    <text>]},</text>
                }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'month'
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        suggestedMin: 0
                    }
                }]
            }
        }
    });
    </script>
}
